<header style="padding: 10px 10px; text-align: center; background: #ffffff;">
    <div style="display: flex; justify-content: center; margin-top: 5px;">
        <form action="https://www.google.com/search" method="get" style="width: 100%; max-width: 450px; display: flex; border: 2px solid #d35400; border-radius: 25px; overflow: hidden;">
            <input type="hidden" name="q" value="site:csrgnk.github.io/Omnnbc">
            <input type="text" name="q" placeholder="Search bhakthi content..." 
                   style="flex: 1; padding: 10px 15px; border: none; outline: none; font-size: 16px;">
            <button type="submit" 
                    style="padding: 10px 20px; background: #d35400; color: white; border: none; cursor: pointer; font-weight: bold;">
                SEARCH
            </button>
        </form>
    </div>
</header>
